$light-dark: #3a3a3a;
$blue-color: #326cf9;

.inquiry-container {
	.inquiry-form {
		max-width: 850px;
		margin: 0 auto;

		.inquiry-form__desc {
			padding: 50px 0;

			p {
				margin: 0;
				font-size: 24px;
				font-weight: 300;
				text-align: center;

				strong {
					font-weight: 300;
					color: $blue-color;
				}
			}
		}
		.inquiry-form__list {
			border-bottom: 1px solid rgb(231, 231, 231);
			border-top: 1px solid rgb(231, 231, 231);
			.inquiry-form__item {
				display: flex;
				align-items: center;
				padding: 16px 0px;
				border-bottom: 1px solid rgb(231, 231, 231);

				#inquiry-type-select {
					flex-grow: 1;
					width: 100%;
					height: 44px;
					padding: 0px 8px 0px 10px;
					border: 1px solid rgb(223, 223, 223);
					border-radius: 3px;
					box-sizing: border-box;
					background: url('~@/assets/select_arrow.svg') right 8px center / 10px
						6px no-repeat rgb(255, 255, 255);
					outline: none;
					font-size: 14px;
					font-weight: 300;
					color: rgb(76, 76, 76);
					appearance: none;
				}
				.item__title {
					width: 130px;
					font-size: 15px;
					font-weight: 300;
					color: $light-dark;
					text-align: center;
				}
				.item__input {
					flex-grow: 1;
					height: 44px;
					width: 100%;
					padding: 0px 16px;
					border: 1px solid rgb(223, 223, 223);
					border-radius: 3px;
					background-color: rgb(255, 255, 255);
					font-size: 14px;
					font-weight: 300;
					color: rgb(76, 76, 76);
				}
				.item__textarea {
					flex-grow: 1;
					width: 100%;
					height: 263px;
					padding: 16px;
					border: 1px solid rgb(223, 223, 223);
					border-radius: 3px;
					background-color: rgb(255, 255, 255);
					font-size: 14px;
					font-weight: 300;
					color: rgb(76, 76, 76);
					resize: none;
				}
				.item__uploader {
					flex-grow: 1;
					width: 100%;
					display: flex;
					flex-direction: column;

					.item__uploader__input {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 106px;
						height: 106px;
						border-radius: 3px;
						border: 1px solid rgb(223, 223, 223);
						cursor: pointer;
					}
					.item__uploader__desc {
						margin-top: 16px;

						p {
							margin-bottom: 0;
							font-size: 12px;
							font-weight: 300;
							color: $light-dark;
						}
					}
				}
			}
		}
		.inquiry-form__footer {
			display: flex;
			justify-content: center;
			margin: 50px 0;

			.inquiry-form__submit-btn {
				color: rgb(255, 255, 255);
				font-size: 15px;
				font-weight: 400;
				width: 216px;
				height: 52px;
				line-height: 52px;
				border: 0px;
				border-radius: 2px;
				background-color: rgba(50, 108, 249, 0.9);
				transition: all 150ms ease-out 0s;
				cursor: pointer;

				&:hover {
					background-color: rgb(50, 108, 249);
				}
			}
		}
	}

	.contact-info {
		max-width: 850px;
		margin: 0px auto 20px;
		padding: 25px 0px;
		border: 1px solid rgb(231, 231, 231);
		border-radius: 2px;
		text-align: center;

		p {
			margin-bottom: 0;

			&:nth-child(1) {
				font-size: 18px;
				font-weight: 300;
				line-height: 27px;
				color: $light-dark;
			}
			&:nth-child(2) {
				margin-top: 4px;
				font-size: 14px;
				font-weight: 300;
				line-height: 24px;
				color: rgb(134, 134, 134);
			}

			strong {
				font-weight: 300;
				color: $blue-color;
			}
		}
	}
}