$blue-color: #326cf9;
$light-blue-color: #adc4fc;
$orange-color: #ff9800;
$light-orange-color: #ffd599;
$light-dark-color: #3a3a3a;
$light-grey-color: #979797;

.map__main {
  display: flex;
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 84.5vh;

  .main__side-bar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    border-right: 1px solid rgb(231, 231, 231);
    position: relative;
    overflow: hidden;

    .side-bar__header {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 3px 4px 0px;
      border-bottom: 1px solid rgb(231, 231, 231);

      span {
        padding: 0px 14px;
        color: rgb(34, 34, 34);
        font-size: 16px;
        font-weight: 400;
      }

      .header__back-btn {
        padding: 0px 10px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        font-weight: 500;
        color: $light-dark-color;
        cursor: pointer;
        transition: all 0.1s;

        &:hover {
          font-weight: 700;
          transform: scale(1.1);
        }
      }
    }
    .side-bar__content {
      display: flex;
      flex-direction: column;

      .content_no-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 77vh;

        i {
          display: block;
          margin: 0 auto 20px;
          font-size: 50px;
          color: $light-grey-color;
        }
        h1 {
          margin-bottom: 0;
          font-size: 26px;
          font-weight: 400;
          color: $light-grey-color;
          text-align: center;
        }
      }

      .content__list {
        flex-grow: 1;
        width: 100%;
        height: 77vh;
        overflow-y: auto;
        overflow-x: hidden;

        .list__item {
          display: flex;
          border-bottom: 1px solid rgb(231, 231, 231);
          cursor: pointer;

          .item__info {
            flex-grow: 1;
            display: flex;
            align-items: flex-start;
            padding: 16px 15px;
            background-color: rgb(255, 255, 255);
            user-select: none;

            .info__image {
              flex: 0 0 auto;
              width: 140px;
              height: 140px;
              min-height: 140px;
              position: relative;
            }

            .info__desc {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              width: 0px;
              height: 140px;
              padding-left: 20px;
              text-overflow: ellipsis;

              .desc__price {
                height: 27px;
                margin-bottom: 4px;
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                color: rgb(34, 34, 34);
                text-overflow: ellipsis;
              }
              .desc__title {
                overflow: hidden;
                margin-bottom: 8px;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                color: rgb(34, 34, 34);
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .desc__sub-desc {
                overflow: hidden;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 200;
                line-height: 20px;
                color: rgb(34, 34, 34);
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .desc__badges {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                margin-top: auto;

                .badges__confirm-status {
                  width: 100px;
                  height: 20px;
                  margin-right: 5px;
                  margin-bottom: 0;
                  padding: 0px 5px;
                  border: 1px solid $light-orange-color;
                  border-radius: 3px;
                  background-color: rgb(255, 255, 255);
                  font-size: 11px;
                  font-weight: 300;
                  line-height: 18px;
                  color: $orange-color;
                  text-align: center;
                  letter-spacing: -0.2px;
                }
                .badges__lowest-price, 
                .badges__highest-price {
                  height: 20px;
                  margin-bottom: 0;
                  padding: 0px 5px;
                  border-radius: 2px;
                  background-color: rgb(255, 255, 255);
                  font-size: 11px;
                  font-weight: 400;
                  line-height: 18px;
                  text-align: center;
                  letter-spacing: -0.2px;
                }
                .badges__lowest-price {
                  border: 1px solid $light-blue-color;
                  color: $blue-color;
                }
                .badges__highest-price  {
                  border: 1px solid rgb(255, 202, 199);
                  color: rgb(244, 98, 91);
                }
              }
            }
          }
        }
      }

      .content__detail {
        .detail__image {
          height: 300px;
          overflow: hidden;

          img {
            width: 100%;
            height: 250px;
          }

          #roadview {
            width: 100%;
            height: 250px;
            position: relative;
          }

          .image__road-view-btn {
            width: 100%;
            height: 50px;
            border: none;
            font-size: 16px;
            font-weight: 500;
            color:#fff;
            cursor: pointer;
            transition: all 150ms ease-out 0s;

            &.image__road-view-btn--on {
              background-color: #ffd24a;
              
              &:hover {
                background-color: #ffcd36;
              }
            }
            &.image__road-view-btn--off {
              background-color: #616161;

              &:hover {
                background-color: #4d4d4d;
              }
            }

            i {
              font-size: 18px;
            }
          }
        }
        .detail__header {
          padding: 20px 18px;
          border-bottom: 1px solid #e7e7e7;

          .header__apt-name {
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 600;
            color: #222;
          }
          .header__buildYear {
            margin-bottom: 0;
            font-size: 14px;
            color: #757575;
          }
        }
        .detail__main {
          padding: 20px 18px;
          border-bottom: 1px solid #e7e7e7;

          .main__price {
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 500;
            color: $blue-color;
          }
          .main__address {
            margin-bottom: 0;
            font-size: 16px;
          }
        }
        .detail__ad {
          display: block;
          width: 100%;
        }
      }
    }
  }
  .main__map {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    z-index: 10;
  }


}

