.map__main {
  display: flex;
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;

  .main__side-bar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    border-right: 1px solid rgb(231, 231, 231);
    position: relative;
    overflow: hidden;

    .side-bar__header {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 3px 4px 0px;
      border-bottom: 1px solid rgb(231, 231, 231);

      span {
        margin: 0px 14px;
        color: rgb(34, 34, 34);
        font-size: 16px;
        font-weight: 400;
      }
    }
    .side-bar__content {
      display: flex;
      flex-direction: column;

      .content__list {
        flex-grow: 1;
        width: 100%;
        height: 77vh;
        overflow-y: auto;
        overflow-x: hidden;

        .list__item {
          display: flex;
          border-bottom: 1px solid rgb(231, 231, 231);
          cursor: pointer;

          .item__info {
            flex-grow: 1;
            display: flex;
            align-items: flex-start;
            padding: 16px 15px;
            background-color: rgb(255, 255, 255);
            user-select: none;

            .info__image {
              flex: 0 0 auto;
              width: 140px;
              height: 140px;
              min-height: 140px;
              position: relative;
            }

            .info__desc {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              width: 0px;
              height: 100%;
              padding-left: 20px;

              .desc__title {
                color: rgb(34, 34, 34);
                font-size: 18px;
                font-weight: 700;
                height: 27px;
                margin-bottom: 4px;
                line-height: 27px;
              }
              .desc__type {
                overflow: hidden;
                margin-bottom: 8px;
                font-size: 13px;
                font-weight: 400;
                line-height: 19px;
                color: rgb(34, 34, 34);
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .desc__sub-desc {
                overflow: hidden;
                width: 212px;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                color: rgb(34, 34, 34);
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
  .main__map {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    z-index: 10;
  }
}