$light-dark: #3a3a3a;
$normal-grey: #979797;
$lignt-gray: #f5f5f5;

.signup-form {
	max-width: 590px;
	margin: 0 auto;
	padding: 64px;
	border: 3px solid $lignt-gray;
	border-radius: 3px;

	.signup-form__title {
		padding-bottom: 24px;
		border-bottom: 1.5px solid $lignt-gray;
		font-size: 30px;
		line-height: 48px;
		color: $light-dark;
	}
	.signup-form__desc {
		padding: 32px 0 48px;
		font-size: 16px;
		color: $light-dark;
	}
	.signup-form__input {
		display: flex;
		flex-direction: column;
		margin-bottom: 24px;

		label {
			margin-bottom: 8px;
			font-size: 16px;
			color: $light-dark;
		}
		input {
			max-width: 460px;
			height: 44px;
			padding: 10px 16px;
			border: 1px solid rgb(237, 237, 237);
			border-radius: 3px;
			background-color: rgb(255, 255, 255);
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			color: rgb(34, 34, 34);
			transition: all 150ms ease-out 0s;

			&:hover {
				outline: 1px solid rgba(50, 108, 249, 0.6);
			}
			&:focus {
				outline: 1.5px solid rgba(50, 108, 249, 0.9);
			}
		}

		.warning {
			margin-top: 8px;
			margin-left: 8px;
			font-weight: 300;
			color: red;
		}

		.signup-form__input__main {
			display: flex;
			justify-content: space-between;

			#signup-user-email-input,
			#signup-nickname-input {
				width: 100%;
				margin-right: 5px;
			}

			.user-email-auth-btn {
				border: 1.5px solid #ededed;
				border-radius: 3px;
				background-color: #f5f5f5;
				color: $light-dark;
				cursor: pointer;
			}
			.user-email-auth-btn {
				width: 95px;
				transition: all 0.2s;

				&:hover {
					background-color: #f1f1f1;
				}
			}
		}

    #signup-password-input {
      margin-bottom: 10px;
    }
	}

	.signup-form__submit-btn {
		width: 100%;
		min-width: 80px;
		height: 56px;
		margin-top: 32px;
		padding: 0px 16px;
		border: 1px solid rgb(50, 108, 249);
		border-radius: 3px;
		background-color: rgba(50, 108, 249, 0.9);
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		transition: all 150ms ease-out 0s;
		cursor: pointer;

		&:hover {
			border: 1px solid rgb(50, 108, 249);
			background-color: rgb(50, 108, 249);
		}
	}
}