$light-dark: #3a3a3a;
$light-grey: #979797;

.terms-form {
	max-width: 590px;
	margin: 0 auto;
	padding: 64px;
	border: 3px solid #f5f5f5;
	border-radius: 3px;

	.terms-form__title {
		padding-bottom: 24px;
		border-bottom: 1.5px solid #f5f5f5;
		font-size: 30px;
		line-height: 48px;
		color: $light-dark;
	}
	.terms-form__desc {
		padding: 32px 0 48px;
		font-size: 16px;
		color: $light-dark;
	}
	.terms-form__all-check-btn {
		display: flex;
		align-items: center;

		label {
			font-size: 16px;
			color: $light-dark;
		}

		#terms-all-check {
			margin-right: 5px;
			width: 18px;
			height: 18px;
			border: 1px solid #d2d2d2;
			border-radius: 4px;
			cursor: pointer;
		}
	}
	.terms-form__terms-group {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		padding: 16px 0;
		border-top: 1.5px solid #f5f5f5;

		.terms-group__term {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0;
			font-size: 16px;
			font-weight: 300;
			color: $light-dark;

			a {
				color: $light-grey;
			}

			.term__input {
				display: flex;
				align-items: center;

				input {
					width: 18px;
					height: 18px;
					margin-right: 5px;
					border: 1px solid #d2d2d2;
					border-radius: 4px;
					cursor: pointer;
				}
			}
		}
	}
	.terms-form__desc {
		margin-bottom: 32px;
		padding: 0;

		p {
			margin-bottom: 2px;
			font-size: 14px;
			font-weight: 300;
			color: $light-grey;
		}
	}
	.terms-form__submit-btn {
		width: 100%;
		min-width: 80px;
		padding: 0px 16px;
		height: 56px;
		border: 1px solid rgba(50, 108, 249, 0.9);
		border-radius: 3px;
		background-color: rgba(50, 108, 249, 0.9);
		font-size: 16px;
		font-weight: 700;
		color: rgb(255, 255, 255);
		transition: all 150ms ease-out 0s;
		cursor: pointer;

		&:disabled {
			border: 1px solid #dfdfdf;
			background-color: #dfdfdf;
		}
		&:hover {
			border: 1px solid rgb(50, 108, 249);
			background-color: rgb(50, 108, 249);
		}
	}
}