$light-dark: #3a3a3a;

.account-header {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;

	.account-header__title {
		padding: 10px 0;
		font-size: 36px;
		font-weight: 400;
		text-align: center;
	}
	.account-header__nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 48px;
		margin-bottom: 0;
		border-bottom: 1px solid #cacaca;
		font-size: 18px;
		text-align: center;

		a {
			color: $light-dark;
			text-align: center;
		}

		.nav__link {
			width: 200px;
			margin: 0 auto;
		}
	}
}