$light-dark-color: #3a3a3a;
$light-grey-color: #979797;
$blue-color: #326cf9;
$red-color: #f4625b;
$orange-color: #ff9800;

.inquiry-detail {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;

	.inquiry-detail__info {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-top: 50px;

		.info__desc {
			margin-bottom: 0;
			padding-left: 20px;

			li {
				margin-bottom: 0;
				font-weight: 300;
				list-style: circle;
			}
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 140px;
			height: 44px;
			border: 0px;
			border-radius: 3px;
			background-color: rgba(50, 108, 249, 0.9);
			font-size: 14px;
			font-weight: 400;
			color: rgb(255, 255, 255);
			text-align: center;
			transition: all 100ms ease-out 0s;

			&:hover {
				background-color: rgb(50, 108, 249);
			}
		}
	}

	.inquiry-detail__table {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		max-width: 1100px;
		margin: 50px auto 0;
    
		.table-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 80px;
			padding: 0 20px;
			border-top: 1px solid rgb(34, 34, 34);
			border-bottom: 1px solid rgb(204, 204, 204);
			font-size: 18px;

			.table-header__main {
				display: flex;

				.table-header__type {
					font-weight: 500;
					color: $blue-color;
				}
				.table-header__title {
					margin-left: 40px;
				}
			}
			.table-header__date {
				margin-left: 72px;
				font-size: 15px;
				color: $light-grey-color;
			}
		}
		.table__item {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 30px 20px;
			border-bottom: 1px solid rgb(238, 238, 238);
			font-size: 16px;
			font-weight: 300;
			color: #656565;
		}

		.table-footer {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			height: 60px;
			padding: 0 20px;
			border-bottom: 2px solid rgb(238, 238, 238);
			font-size: 16px;
			font-weight: 300;

			.table-footer__edit-btn,
			.table-footer__delete-btn {
				color: $light-grey-color;
				font-weight: 300;
				font-size: 16px;
				transition: all 100ms ease-out 0s;
			}
			.table-footer__edit-btn {
				&:hover {
					color: $orange-color;
				}
			}
			.table-footer__delete-btn {
				border: none;
				background-color: transparent;
				cursor: pointer;

				&:hover {
					color: $red-color;
				}
			}

			.bar {
				display: block;
				position: relative;
				top: 1px;
				margin: 0px 14px;
				width: 1px;
				height: 14px;
				background-color: rgb(223, 223, 223);
			}
		}
	}

	.inquiry-detail__comment-input {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 20px;
		padding: 20px;
    border: 1px solid #e3e7eb;
    background-color: #fafbfc;

		.comment-input__textarea {
			margin-bottom: 12px;
		}
		.comment-input__comment-submit-btn {
			width: 90px;
			display: inline-block;
			padding: 8px 32px;
			border: none;
			border-radius: 3px;
			background-color: rgb(50, 108, 249);
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			cursor: pointer;
		}
	}

	.inquiry-detail__comments {
		margin-top: 20px;

		.comments__comment-list {
			.comments__comment {
				display: flex;
				justify-content: space-between;
				padding: 20px;
    		border-bottom: 1px solid #e3e7eb;
				
				&:nth-child(1) {
					border-top: 1px solid #e3e7eb;
				}

				.comment__main {
					display: flex;

					.comment__writer {
						padding-right: 10px;
						border-right: 1px solid #e3e7eb;
						font-size: 16px;
					}
					.comment__content {
						padding: 0 20px;
						font-size: 16px;
						font-weight: 300;
					}
				}
				.comment_delete-btn {
					border: 0;
					background-color: transparent;
					font-size: 16px;
					cursor: pointer;
					transition: all 0.2s;

					&:hover {
						color: rgb(50, 108, 249);
						transform: scale(1.2);
					}
				}
			}
		}
	}

	.inquiry-detail__footer {
		display: flex;
		justify-content: center;
		margin-top: 60px;

		.footer__back-btn {
			color: white;
			font-size: 16px;
			font-weight: 400;
			width: 160px;
			height: 52px;
			border: 0px;
			border-radius: 3px;
			background-color: rgba(50, 108, 249, 0.8);
			text-align: center;
			line-height: 52px;
			transition: all 150ms ease-out 0s;
			cursor: pointer;

			&:hover {
				background-color: rgba(50, 108, 249, 0.9);
			}
		}
	}
}