.list__apt {
	overflow: hidden;
	width: 240px;
	margin: 0 6px 26px 6px;
	cursor: pointer;

	&:hover {
		.apt__images {
			img {
				transform: scale(1.15);
			}
		}
	}

	.apt__images {
		overflow: hidden;
    position: relative;
		width: 240px;
		height: 180px;

    i {
      position: absolute;
      margin: 10px;
      right: 0;
      z-index: 10;
      font-size: 26px;
      transition: all 0.15s;
    }
		img {
			width: 240px;
			height: 180px;
			transition: all 150ms ease-out 0s;
		}
	}

	.apt__apt-info {
		margin-top: 20px;

		.apt-info__name {
			display: flex;
			align-items: center;
			margin-bottom: 4px;
			font-size: 14px;
			font-weight: 300;
			line-height: 19px;
			color: rgb(34, 34, 34);
		}
		.apt-info__price {
			margin-bottom: 4px;
			font-size: 20px;
			line-height: 29px;
			color: rgb(34, 34, 34);
		}
		.apt-info__build-year,
		.apt-info__address {
			overflow: hidden;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 200;
			line-height: 20px;
			color: rgb(34, 34, 34);
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}