.liked-list-container {
	max-width: 1100px;
	margin: 64px auto 300px;
	padding: 0 20px;

	.liked-list-container___inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 10px;

		.list__apt {
			width: 240px;
			overflow: hidden;

			cursor: pointer;

			&:hover {
				.apt__images {
					img {
						transform: scale(1.15);
					}
				}
			}

			.apt__images {
				width: 260px;
				height: 180px;
				border-radius: 3px;
				overflow: hidden;

				img {
					width: 260px;
					height: 180px;
					border-radius: 3px;
					transition: all 150ms ease-out 0s;
				}
			}

			.apt__apt-info {
				margin-top: 20px;

				.apt-info__name {
					display: flex;
					align-items: center;
					margin-bottom: 4px;
					font-size: 14px;
					font-weight: 300;
					line-height: 19px;
					color: rgb(34, 34, 34);
				}
				.apt-info__price {
					margin-bottom: 4px;
					font-size: 20px;
					line-height: 29px;
					color: rgb(34, 34, 34);
				}
				.apt-info__build-year,
				.apt-info__address {
					overflow: hidden;
					margin-bottom: 0;
					font-size: 14px;
					font-weight: 200;
					line-height: 20px;
					color: rgb(34, 34, 34);
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}