.news-container {
	background-color: #f9f9f9;
	padding: 100px 0;

	.news-container__inner {
		max-width: 1100px;
		min-width: 900px;
		margin: 0 auto;
		padding: 0 10px;

		.news__header {
			margin-bottom: 60px;

			h1 {
				margin-bottom: 0;
				padding: 10px;
				border-bottom: 3px solid #e8e8e8;
				border-radius: 3px;
				font-size: 36px;
				font-weight: 500;
				color: #222;
			}
		}
		.news__main {
			.main__list {
				padding: 0 12px;
			}
		}
		.news__pagination {
			margin-top: 80px;
			text-align: center;
		}
	}
}