.header__nav {
  display: flex;
  align-items: center;

  .nav__link {
    margin-left: 40px;
    font-size: 16px;
    color: #f3f3f3;
    transition: all 0.3;

    &:hover {
      font-weight: 600;
      color: #fff;
    }

    &.link--user {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0px 20px;
      border: 1px solid rgb(223, 223, 223);
      border-radius: 3px;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      color: #f3f3f3;
      transition: all 150ms ease-out 0s;

      &:hover {
        background-color: rgb(255, 255, 255, 0.2);
        color: #fff;
      }

      .nav__bar {
        display: block;
        position: relative;
        top: 1px;
        margin: 0px 14px;
        width: 1px;
        height: 14px;
        background-color: rgb(223, 223, 223);
      }
    }
  }
}
.header__user {
  display: flex;
  margin-left: 40px;

  .header__user__name {
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
  }
}